.transactions {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.transactions table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transactions th,
.transactions td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 0.9rem;
}

.transactions th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-transform: uppercase;
}

.transactions .receita {
    background-color: #e7f7e7; /* Fundo verde claro */
    color: #2e7d32; /* Texto verde escuro */
}

.transactions .despesa {
    background-color: #fbe4e4; /* Fundo vermelho claro */
    color: #c62828; /* Texto vermelho escuro */
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination button {
    padding: 10px 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9rem;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #45a049;
}

.pagination span {
    font-size: 1rem;
    font-weight: bold;
    color: #555;
}

button {
    background-color: #ff5c5c;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff2e2e;
}
